<div class="not-found-container">
  <div class="content">
    <pre class="error-code" [ngStyle]="{ 'text-shadow': '0 0 10px ' }">
 _____ ____  ____   ___  ____  
| ____|  _ \\|  _ \\ / _ \\|  _ \\ 
|  _| | |_) | |_) | | | | |_) |
| |___|  _ <|  _ <| |_| |  _ < 
|_____|_| \\_\\_| \\_\\\\___/|_| \\_\\
        </pre
    >

    <div class="error-message">
      <div class="message-box">
        <div class="title">{{ "NOT_FOUND.TITLE" | translate }}</div>
        <div class="description">{{ "NOT_FOUND.MESSAGE" | translate }}</div>
      </div>
    </div>
  </div>
</div>
