<div class="menu-container">
  <div
    class="menu-header"
    [ngStyle]="{ 'border-bottom': '2px solid ' + currentTheme?.primary }"
  >
    <pre>
╔════════════════════════════════════════╗
║  François RINGLER : SOFTWARE ENGINEER  ║
╚════════════════════════════════════════╝</pre
    >
  </div>

  <div class="menu-content">
    <div class="menu-title">{{ "MENU.SELECT" | translate }}</div>

    <div
      class="menu-item"
      (click)="navigateTo('resume-full')"
      [ngStyle]="{ color: currentTheme?.primary }"
    >
      1 &gt; {{ "MENU.RESUME" | translate }}
    </div>

    <div class="submenu">
      <div class="submenu-item" (click)="navigateTo('experience')">
        2) {{ "MENU.EXPERIENCE" | translate }}
      </div>
      <div class="submenu-item" (click)="navigateTo('skills')">
        3) {{ "MENU.SKILLS" | translate }}
      </div>
      <div class="submenu-item" (click)="navigateTo('schools')">
        4) {{ "MENU.EDUCATION" | translate }}
      </div>
      <div class="submenu-item" (click)="navigateTo('hobbies')">
        5) {{ "MENU.HOBBIES" | translate }}
      </div>
    </div>

    <div
      class="menu-item"
      (click)="navigateTo('contact')"
      [ngStyle]="{ color: currentTheme?.primary }"
    >
      6 > {{ "MENU.CONTACT" | translate }}
    </div>
  </div>
</div>
